.editable-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.editable-wrapper .delete-icon {
  display: none;
}

.editable-wrapper:hover .delete-icon{
  display: block;  
}

.editable-wrapper:focus .delete-icon{
  display: block;  
}


.mybtn {
  /* background-color: cyan; */
  /* border: none; */
  border-radius: 8px;
  padding: 8px 14px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}


/* .btn-primary:active {
  background-color: red;
} */